@charset "utf-8";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

body {
    font-size: 15px;
    line-height: 1.5;
    color: #000;
}

@font-face {
    font-family: 'Ownglyph_ryuttung-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UhBeeSe_hyun';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
header {
    width: 100%;
}

.header_in {
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 20px auto 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
}

.logo1 {
    display: none;
}

.header_in img {
    width: 150px;
}

.nav {
    display: flex;
    justify-content: end;
    gap: 30px;
}

.nav a {
    font-size: 20px;
}

.nav a:hover {
    border-bottom: 4px solid #fff;
}

.scroll-fixed {
    background-color: #ae0303;
    position: fixed;
    top: -20px;
    left: 0;
    padding: 10px 50px;
    transition: all 1s;
    box-sizing: border-box;
}

.scroll-fixed .nav a {
    color: #fff;
    transition: all 0.5s;
}

.scroll-fixed .logo1 {
    display: block;
    margin-top: 10px;
}

.scroll-fixed .logo2 {
    display: none;
}

/* header */

/* main */
#main {
    overflow: hidden;
    width: 100%;
    height: 800px;
    position: relative;
    background: url(./img/main.png) no-repeat 50% 80%/cover;
}

#main h1 {
    font-size: 90px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    margin-top: 650px;
    font-family: 'Ownglyph_ryuttung-Rg';
}

/* main */

/* 글자 흘러가는 애니메이션 */
.text_ani1 {
    background-color: #fff;
    color: #ae0303;
    overflow: hidden;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
}

.text_ani1 ul {
    display: flex;
    white-space: nowrap;

    animation: text_ani1 10s infinite linear;
}

@keyframes text_ani1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.white_text {
    color: #fff;
    -webkit-text-stroke: 2px #ae0303;
}

.text_ani2 {
    background-color: #fff;
    color: #ae0303;
    overflow: hidden;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
}

.text_ani2 ul {
    display: flex;
    white-space: nowrap;

    animation: text_ani2 10s infinite linear;
}

@keyframes text_ani2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* 글자 흘러가는 애니메이션 */

/* about */
#about {
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.gallery {
    width: 100%;
    margin: 50px auto;
    padding: 0 0px 40px;
    box-sizing: border-box;
    position: relative;
}

.gallery_inner {
    width: 100%;
    overflow: hidden;
}

.gallery .swiper-slide {
    width: 33.33%;
    overflow: hidden;
    transition: 1s;
}

.gallery .swiper-slide-prev {
    margin-left: -10%;
    margin-right: 40% !important;
}


.gallery .swiper-slide img {
    display: block;
    width: 80%;
    transition: 1s;
    margin: auto;
}

.gallery .swiper-button-prev,
.gallery .swiper-button-next {
    display: none;
}

.about_text {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 98;
    text-align: center;
}

.about_text h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.about_text h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

.about_text h4 {
    font-size: 25px;
    font-weight: 400;
}

/* about */

/* menu */
#menu {
    width: 100%;
    padding: 70px 0;
    margin: auto;
    background: #ae0303;
    background-size: 100%;
    position: relative;
}

.menu-border {
    border-top: 30px solid #fff;
    border-bottom: 30px solid #fff;
    padding: 200px 0 50px;
    background: url(./img/menu_left.png) repeat-y left top, url(./img/manu-right.png) repeat-y right top;
}

#menu h1 {
    width: 380px;
    height: 142px;
    text-align: center;
    font-size: 80px;
    background: url(./img/menu_back.png) no-repeat 50% 50%;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -190px;
    z-index: 98;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu_in {
    width: 100%;
    text-align: center;
}

.menu_in .buger-manu {
    width: 1320px;
    margin: auto;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

.classic-1,
.classic-2,
.classic-3,
.white-1,
.white-2,
.white-3,
.blt-1,
.blt-2,
.blt-3,
.hulk-1,
.hulk-2,
.hulk-3,
.max-1,
.max-2,
.side-1,
.side-2 {
    position: absolute;
    z-index: 98;
}

.classic-1 {
    top: 75%;
    left: 90px;
}

.classic-2 {
    top: 15%;
    left: 25%;
}

.classic-3 {
    top: 30%;
    left: 50px;
}

.white-1 {
    top: 10%;
    right: 10px;
}

.white-2 {
    top: 70%;
    right: 50px;
}

.white-3 {
    top: 1%;
    right: 28%;
}

.blt-1 {
    top: 5%;
    left: 2%;
}

.blt-2 {
    top: 70%;
    left: 10%;
}

.blt-3 {
    top: 15%;
    left: 30%;
}

.hulk-1 {
    top: 70%;
    right: 25%;
}

.hulk-2 {
    top: 25%;
    right: 1%;
}

.hulk-3 {
    top: 1%;
    right: 17%;
}

.max-1 {
    top: 55%;
    left: 5%;
}

.max-2 {
    top: 5%;
    left: 15%;
}

.side-1 {
    top: 10%;
    right: 30%;
}

.side-2 {
    top: -15%;
    right: 2%;
}

.buger-text p,
.buger-text2 p {
    background: url(./img/menu_in_back.png) no-repeat 50% 50%;
    width: 605px;
    height: 253px;
    box-sizing: border-box;
    padding: 50px;
    font-size: 25px;
    font-family: 'UhBeeSe_hyun';
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.buger-text img {
    position: absolute;
    top: 30px;
    left: 680px;
}

.buger-text2 img {
    position: absolute;
    top: 30px;
    left: 80px;
}

.buger-text2 .hulk-name {
    position: absolute;
    top: 10px;
    left: 120px;
}

.buger-text2 .side_name {
    position: absolute;
    top: -30px;
}

.buger-margin {
    padding-top: 60px;
}

.buger-scale,
.buger-left,
.buger-right {
    transition: 0.5s;
}

.buger:hover .buger-scale {
    transform: scale(1.1);
}

.buger:hover .buger-left {
    transform: rotate(-10deg);
}

.buger:hover .buger-right {
    transform: rotate(10deg);
}

/* menu */

/* store */
#store{
    width: 100%;
    padding: 150px 0;
}
.store-title{
     background-color: #ae0303;
    height: 200px;
    width: 70%; 
}
.title-box{
  width: 90%;
  margin: auto;  
  font-size: 22px;  
  font-weight: 500;

}
.title-box ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
    padding-top: 30px;
}
.title-box ul li:nth-of-type(1){
    font-size: 80px;
    color: #fff;
    font-weight: 800;
}
.title-box b{
    color: #fff;
}

.store-in ul{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1320px;
    margin: auto;
    position: relative;
    padding: 200px 0;
}
.store-in .pin{
    position: absolute;
    top: 58%;
    left: 14%;
}
.store-in .pin2{
    position: absolute;
    top: 58%;
    left: 47%;
}
.store-in .pin3{
    position: absolute;
    top: 58%;
    left: 81%;
}
.store-in ul li h4{
    margin-top: 50px;
    font-size: 40px;
}
.store-in ul li p{
    font-size: 30px;
    margin-bottom: 5px;
}
/* store */